.icon {
    position: relative;
    display: inline-block;

    &__svg {
        width: 1em;
        height: 1em;
        vertical-align: -.15em;
        fill: currentColor;
        overflow: hidden;
    }

    &__content {
        &--center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--180 {
        transform: rotate(180deg);
    }
 
    &--heart {
        font-size: 27px;
    }
} 

.heading-icon {
    .icon--heart {
        font-size: 49px;
        height: 49px;

        // @include respond-to(600px) {
        //     font-size: 63px;
        //     height: 63px;
        //     margin-right: 10px;
        // }
    }

    .icon__content {
        color: #FFF;
        // font-family: $font-family-base;
        font-size: 22px;
        font-weight: bold;
        transform: translate(-50%, -61%);
    }
}